<?xml version="1.0"?>
<launch>

  <rosparam file="$(find rover)/launch/config/config.yaml" command="load"/>

  <node name="rover_node" pkg="rover" type="rover_node"/>

  <!-- <node name="key_teleop" pkg="key_teleop" type="key_teleop.py" /> -->
  <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" />

</launch>