<?xml version="1.0"?>
<launch>

  <!-- TODO exercise: load rover dynamics parameters: mass, damping, force_gain. -->
  <rosparam file="$(find rover)/launch/config/config.yaml" command="load"/>
  <!-- TODO exercise: start the rover simulation node. -->
  <node name="rover_node" pkg="rover" type="rover_node"/>
  
  <!-- TODO exercise: load autonomous controller gains. -->
  <rosparam file="$(find rover_controller)/launch/config/config.yaml" command="load"/>
  <!-- TODO exercise: start the autonomous controller node. -->
  <node name="rover_controller_node" pkg="rover_controller" type="rover_controller_node" output="screen"/>

</launch>
